<div class="min-h-screen flex flex-col bg-gray-50">
  
  <header class="bg-gray-800 text-white shadow-lg p-4 flex justify-between items-center sticky top-0 z-10">
    
    <div class="text-2xl font-bold tracking-wider">
      BookSmart
    </div>
    
    <div class="flex items-center space-x-4"> 
      
      <ng-container *ngIf="!(isLoggedIn$ | async)"> 
        <button 
          (click)="onLogin()"
          class="bg-green-600 hover:bg-green-700 text-white font-medium py-2 px-4 rounded-lg transition duration-150 ease-in-out"
        >
          Iniciar Sesión
        </button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <span class="text-lg font-light">
          Hola, <span class="font-semibold">{{ userName$ | async }}</span>
        </span>
          
        <button 
          (click)="onLogout()"
          class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded-lg transition duration-150 ease-in-out"
        >
          Cerrar Sesión
        </button>
      </ng-container>
      
    </div>
</header>
  
  <main class="grow flex items-center justify-center p-8">
    <section class="text-center max-w-4xl">
      <h1 class="text-6xl font-extrabold text-gray-900 mb-4">
        Gestiona tus Libros de Forma Inteligente
      </h1>
      <p class="text-xl text-gray-600 mb-8">
        La plataforma definitiva para autores y editoriales.
      </p>
      <button 
      (click)="onDiscover()" 
      class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-8 rounded-full shadow-lg transform hover:scale-105 transition duration-300"
    >
      Descubre más
    </button>
    </section>
  </main>
</div>